<%- include('header') -%>

<% if (loggedIn) { %>
  <form action="/logout" method="get">
    <button type="submit">Skrá út</button>
  </form>
<% } %>

<form method="post" action="/admin/skra" class="admin-form">

  <% if (typeof(errors) !== 'undefined' && errors.length > 0) { %>
    <div class="error-messages">
      <% errors.forEach(function(error) { %>
        <p><%= error.msg %></p>
      <% }); %>
    </div>
  <% } %>


  <div>
    <label for="game_date">Dagsetning</label>
    <input type="date" id="game_date" name="date" required>
  </div>
  <!-- Home Team -->
<select id="home_team" name="home_team" required>
  <% locals.teams.forEach(function(team) { %>
    <option value="<%- team.id %>"><%- team.name %></option>
  <% }); %>
</select>

<!-- Home Score -->
<input type="number" id="home_score" name="home_score" min="0" max="99" required>

<!-- Away Team -->
<select id="away_team" name="away_team" required>
  <% locals.teams.forEach(function(team) { %>
    <option value="<%- team.id %>"><%- team.name %></option>
  <% }); %>
</select>

<!-- Away Score -->
<input type="number" id="away_score" name="away_score" min="0" max="99" required>
  <button type="submit">Skrá leik</button>
</form>



<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Home Team</th>
      <th>Home Score</th>
      <th>Away Team</th>
      <th>Away Score</th>
    </tr>
  </thead>
  <tbody>
    <% games.forEach(function(game) { %>
      <tr>
        <td><%= game.date %></td>
        <td><%= game.home.name %></td>
        <td><%= game.home.score %></td>
        <td><%= game.away.name %></td>
        <td><%= game.away.score %></td>
      </tr>
    <% }); %>
  </tbody>
</table>


<%- include('footer') -%>
